body{
	background-image: url('https://s3.amazonaws.com/assets.mshanken.com/wso/static/promos/BSLV2014-Home-Background.jpg');
	background-color: #ffffff;
}
p{
	font-size: 17px;
	color:#000;
	margin-top:10px;
}
img {
	position: relative;
}
a{
	color:#000;
}
.hotel{
	margin-top: 20px;
	font-size: 21px;
	font-weight: bold;
	font-family: Georgia; 
}
.content{
	font-family: Arial;
	font-size:14px;
	margin-top:60px;
}
.sidetext{
	font-size:13px;
	font-family: Arial;
	margin-top: 0;
}
.click_here{
	color:#c71f25;
	font-family: Georgia;
	font-size: 26px;
	margin-bottom:0px;
}
.click_2{
	color: #c71f25;
	font-family: Georgia;
	font-size: 15px;
	font-weight:bold;
	margin-top:0;
	margin-bottom:10px;
}
.foot_text{
	color:#cd363c;
	font-family: Georgia;
	font-weight: bold;
	font-size: 20px;
}
.sem_text{
	font-size: 13px;
	color: #000;
	font-family: Arial;
}
.large_font{
	font-size: 22px;
}
.price{
	font-size: 22px;
}
#sold{
	text-decoration: line-through;
	color: #c72127;
}
#out{
	color: #c72127;
	font-weight: bold;
}
.dates{
	font-size: 15px;
}
#nav {
	margin-top:20px;
	margin-bottom:20px;
}
#nav a:hover{
	color:#ffffff;
}
#nav a.btn-default{
	padding:15px 0;
	font-weight: bold;
	font-size: 16px;
}
#head_text{
	font-family: Georgia;
	font-weight: bold;
	font-size: 33px;
	color:#c71f25;	
	margin:0;
	padding:0;
}
#first_row{
	margin-top: 20px;
}
#second_row{
	margin-top: 63px;
}
#wrapper{
	background-color: #fff;
	padding: 20px;
	max-width: 890px;
	margin: 30px auto 30px auto;
	box-shadow: 0 0 7px 3px #4b4b4b;
}